.comment-content a {
	word-wrap: break-word;
}

.comment-content p {
	margin-top: 0;
}

.bypostauthor {
	display: block;
}

.comment-list {
	margin: 0 0 1.5em 0;
	list-style: none;
	padding: 0;
}

.says, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.3125;
	padding-top: 1.304em;
}

.comments-title {
	margin-bottom: 1.304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #dddddd;
	padding: 30px 30px 30px 75px;
	position: relative;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
	line-height: 1;
	display: inline;

	a {
		color: $color__primary;

		&:hover {
			color: #222;
		}
	}
}

.comment-author .avatar {
    height: 50px;
    position: absolute;
    width: 50px;
    left: 0;
    top: 22px;
    border-radius: 50%;
}

.comment-metadata,
.pingback .edit-link {
	color: #888888;
	@include font-size(0.75);
	line-height: 1.6153846154;
}

footer.comment-meta {
	margin-bottom: 25px;
}

.comment-metadata {
	margin-left: 5px;
	display: inline-block;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #888888;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: $color__primary;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-top: 1.250em;
    padding: 0.417em 0.833em;
    font-weight: bold;
    background: #222;
    text-transform: uppercase;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	background: $color__primary;
	color: #fff;
	outline: 0;
}

.comment-form label {
	display: block;
	@include font-size(0.875);
	letter-spacing: 0.077em;
	line-height: 1.5;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	@include font-size(1);
	line-height: 1.6;
	margin-bottom: 1.5em;

	a {
		color: $color__text-main;

		&:hover {
			color: $color__primary;
		}
	}
}

.no-comments {
	border-top: 1px solid #dddddd;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: $color__primary;
}

.comment-reply-title {
	border-top: 1px solid #ddd;
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	font-size: 0;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #1a1a1a;
}

.comment-reply-title small a:before {
	content: "\f00d";
	font-family: 'FontAwesome';
	font-size: 20px;
	position: relative;
	top: -5px;
	color: $color__primary;
}

.comment-form .comment-form-cookies-consent label {
	display: inline;
	margin-left: 1em;
}