.main-navigation {
	@include font-size(1);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 1px 1px 4px rgba(0,0,0,.15);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: -10px;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				a {
					font-weight: normal;
					line-height: 1.3;
					text-transform: none;
					width: 200px;
				}
			
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}

		a {
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 600;
		}
	}



	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.main-navigation li.menu-item-has-children > a:after, 
.main-navigation li.page_item_has_children > a:after {
	font-family: FontAwesome;
	content: "\f107";
	display: inline-block;
	line-height: 1;
	font-size: 14px;
	margin: 1px 0 0 10px;
	font-weight: normal;
}

.main-navigation .menu-item-has-children .menu-item-has-children > a:after,
.main-navigation .page_item_has_children .menu-item-has-children > a:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	float: right;
	line-height: 20px;
	font-size: 14px;
	margin: 0 0 0 10px;
	font-weight: normal;
}

.rtl .main-navigation .menu-item-has-children .menu-item-has-children > a:after,
.rtl .main-navigation .page_item_has_children .menu-item-has-children > a:after {
	content: "\f104";
}

/**
 * Default style
 */
.site-header.default-style {
	.main-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;
		background: #141414;

		ul {
			li {
				a {
					color: #ffffff;
					line-height: 50px;
					padding: 0 16px;

					&:hover {
						color: $color__primary;
					}
				}
			}

			ul {
				padding: 10px;
				background: #333333;

				li {

					a {
						color: #eeeeee;
						padding-top: 10px;
						padding-bottom: 10px;
						line-height: 1.3;

						&:hover {
							color: #ffffff;
							background: $color__primary;
						}
					}

				}
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__primary;
		}

		#site-navigation-inner.align-center {
			#primary-menu {
				display: table;
				margin: 0 auto;
			}
		}
		
		#site-navigation-inner.align-right {
			#primary-menu {
				float: right;
			}
		}

		#site-navigation-inner.align-left {
			#primary-menu {
				float: left;
			}
		}

		#site-navigation-inner.show-search ul {
			margin-right: 40px;
		}
	}
}

/**
 * Horizontal Style 
 */
.site-header.horizontal-style {
	.main-navigation {

		ul {
			li {
				a {
					color: #ffffff;
					line-height: 65px;
					padding: 0 16px;

					&:hover {
						color: $color__primary;
					}
				}
			}

			ul {
				padding: 10px;
				background: #333333;

				li {

					a {
						color: #ffffff;
						padding-top: 10px;
						padding-bottom: 10px;
						line-height: 1.3;

						&:hover {
							color: #ffffff;
							background: $color__primary;
						}
					}

				}
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__primary;
		}

		#site-navigation-inner.show-search{
			ul {
				margin-right: 40px;
			}
		} 
	}
}

#site-navigation-inner {
	position: relative;
}

/* Mobile Dropdown Navigation. */
.mobile-dropdown {
	clear: both;
}
.mobile-navigation {
	display: none;
	background: #333333;

	ul {
		list-style: none;
		margin: 0;
		padding: 30px;

		li {
			position: relative;
			border-bottom: 1px solid #222222;

			a {
				display: block;
				width: 100%;
				line-height: 45px;
				color: #ffffff;
				@include font-size(1);
				text-transform: uppercase;
			}
		}

		ul {
			display: none;
			padding: 0 0 0 20px;
			border-top: 1px solid #222222;
		}
		ul.toggled-on {
			display: block;
		}
	}

}

.mobile-navigation.toggled-on {
	display: block;
}

.menu-toggle {
	cursor: pointer;
	border: none;
	background: transparent;
	line-height: 50px;
	border-radius: 0;
	padding: 0 10px;
	color: #ffffff;
	display: block;
	@include font-size(1);

	i.fa {
		margin-right: 10px;
	}
}

.site-header.horizontal-style .menu-toggle {
	line-height: 65px;
}

.dropdown-toggle {
	cursor: pointer;
	background: transparent;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 45px;
	padding: 0 15px;
	border-left: 1px dotted #222222;
	border-right: 1px dotted #222222;
	border-radius: 0;
}

button.dropdown-toggle::after {
	content: '+';
}

button.dropdown-toggle.toggled-on::after {
	content: '-';
}

@media screen and (min-width: 959px) {
	.mobile-dropdown,
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 60px;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.posts-navigation {

	color: #444444;

	.nav-previous a,
	.nav-next a {
		@include font-size(1.125);
		font-weight: 700;
		text-transform: uppercase;
		color: #444444;

		&:hover {
			color: $color__primary;
		}
	}

	.nav-previous a::before {
		content: "\f104";
		display: inline-block;
		line-height: 1;
		font-family: FontAwesome;
		font-size: 18px;
		margin: 0 1em 0 0;
		font-weight: normal;
	}

	.nav-next a::after {
		content: "\f105";
		display: inline-block;
		line-height: 1;
		font-family: FontAwesome;
		font-size: 18px;
		margin: 0 0 0 1em;
		font-weight: normal;
	}

}

.rtl .posts-navigation .nav-previous a::before {
	content: "\f105";
}

.rtl .posts-navigation .nav-next a::after {
	content: "\f104";
} 

.post-navigation {
	.nav-previous, 
	.nav-next {
		.meta-nav {
			@include font-size(1);
			font-weight: 600;
			text-transform: uppercase;
			color: #bdbdbd;
		}

		.post-title {
			color: #000000;
			@include font-size(1.25);
			font-weight: 600;

			&:hover {
				color: $color__primary;
			}
		}
	}
}


/**
 * Search toggle
 */
.site-header.horizontal-style {
	.bam-search-button-icon {
		line-height: 65px;
	}
	.bam-search-box-container {
		top: 65px;
	}
}

.site-header.default-style {
	.bam-search-button-icon {
		line-height: 50px;
	}
	.bam-search-box-container {
		top: 50px;
	}
}

.bam-search-button-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 16px;
	color: #ffffff;
	cursor: pointer;
}

.site-header.horizontal-style .bam-search-button-icon {
	@media ( max-width: 959px ) {
		right: 80px;
	}
}

.bam-search-box-container {
	display: none;
	position: absolute;
	right: 0;
}

.bam-search-box-container.active {
	display: block;
}

/**
 * Pagination
 */
.pagination {

	margin: 10px 0 30px;

	.page-numbers {
		border: 1px solid #cccccc;
		color: $color__text-main;
		padding: 8px 15px;
		margin: 0 2px 5px 2px;
    	display: inline-block;
	}
	.page-numbers.next,
	.page-numbers.previous {
		margin: 0;
	}
	.page-numbers.current {
		background: $color__primary;
		border: 1px solid $color__primary;
		color: #ffffff;
	}
	a.page-numbers {
		&:hover {
			background: $color__primary;
			border: 1px solid $color__primary;
			color: #ffffff;
		}
	}
}

.infinite-scroll .pagination {
	display: none;
}