h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Roboto Condensed';
	font-weight: normal;
	line-height: 1.2;
}

h1 {
	@include font-size(2.25);
}

h2 {
	@include font-size(2);
}

h3 {
	@include font-size(1.75);
}

h4 {
	@include font-size(1.5);
}

h5 {
	@include font-size(1.25);
}

h6 {
	@include font-size(1);
}