/**
 * Stylesheet for custom styles.
 *
 */
 body .site .widget.infinity_mag_widget_tabbed ul.nav-tabs li:hover a,
 body .site .widget.infinity_mag_widget_tabbed ul.nav-tabs li:hover a,
 body .site .widget.infinity_mag_widget_tabbed .nav-tabs > li.active > a,
 body .site .widget.infinity_mag_widget_tabbed .nav-tabs > li.active > a:focus,
 body .site .widget.infinity_mag_widget_tabbed .nav-tabs > li.active > a:hover,
 body .site .widget.infinity_mag_widget_tabbed .site-footer .widget ul li,
 body .site .mainbanner-jumbotron-2 .slide-icon {
     background: #FF6600;
}

body .site .author-info .author-social > a:hover,
body .site .author-info .author-social > a:focus {
     border-color: #FF6600;
}

body .site .sticky h2:before,
body .site a:hover,
body .site a:focus,
body .site a:active,
body .site .twp-meta-info .posted-on,
body .site .twp-meta-info .byline,
body .site .item-metadata.posts-date,
body .site .item-metadata.post-author,
body .site .author-info .author-social > a:hover,
body .site .author-info .author-social > a:focus,
body .site .social-icons ul li a:hover,
body .site .social-icons ul li a:focus,
body .site .nav-right .icon-search:hover,
body .site .nav-right .icon-search:focus {
     color: #FF6600;
}

@media only screen and (min-width: 992px) {
     body .site .main-navigation .menu ul > li.current-menu-item > a,
     body .site .main-navigation .menu ul > li:hover > a,
     body .site .main-navigation .menu ul > li:focus > a {
      color: #FF6600;
 }
}

body .site .button-fancy.-red {
    color: #FF6600;
    border-color: #FF6600;
}

body .site .button-fancy:hover.-red > .btn-arrow,
body .site .button-fancy:hover.-red > .btn-arrow:before, 
body .site .button-fancy:hover.-red > .btn-arrow:after {
    background-color: #FF6600;
}

.item-metadata ul li a {
     background-color: #FF6600;
     color: #fff;
     border-radius: 4px;
     padding: 3px 15px;
     text-decoration: none;
     margin: 5px auto;
}

.item-metadata ul li a:hover,
.item-metadata ul li a:focus {
     background-color: #ef701c;
     color: #fff;
}

.twp-entry-content{
    padding: 20px;
    border: 1px solid #f3f3f3;
}

.has-post-thumbnail .twp-entry-content{
     border-top: 0;
}